.wrapper{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.faucet{
    background-color: white;
    padding: 40px;
    border-radius: 8%;
}

.balance{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: large;
}

.actions{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.deposit, .withdraw{
    padding: 10px;
    background-color: #171717;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    border-radius: 8%;
}
