html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #f0f0f0;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* //HEADER */

a {
  text-decoration: none;
  color: #000;
}
.site-header {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: 0.6em 0;
  display: inline-block;
}

.site-navigation ul,
.site-navigation li {
  margin: 0;
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}

.site-navigation li button {
  padding: 0.5rem;
}
/* //END HEADER */

/* //UPLOAD LOGO */

.uploadMargin {
  margin-bottom: 1rem;
}

.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #e8e8e8;
  background-color: #212121;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px #e8e8e8;
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: #e8e8e8;
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: #e8e8e8;
}

.custum-file-upload input {
  display: none;
}
/* //END UPLOAD LOGO */

/* //INPUT */

.create {
  width: 60%;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.input-Container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.input-style {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
  width: 100%;
}

.input-style:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* //END INPUT */

/* //BUTTON */
.button-box {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.new-button {
  font-family: PlusJakartaSans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Cantarell, Helvetica Neue, Ubuntu, sans-serif;
  font-size: 1rem;
  align-items: center;
  height: 48px;
  border-radius: 0.4rem;
  font-weight: 600;
  padding: 0 1.2rem;
  color: #ddd;
  border: none;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
  background: #000000;
  width: 100%;
}

.new-button:hover {
  background: #2b2a2a;
}

/* //END BUTTON */

/* //TABLE COMPONENT */
.table-container {
  overflow-x: auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.custom-table th,
.custom-table td {
  padding: 12px 15px;
}

.custom-table thead tr {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.custom-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.custom-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.custom-table tbody tr:last-of-type {
  border-bottom: 2px solid #000000;
}

.custom-table tbody tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 600px) {
  .create {
    width: 90%;
  }
}
/* //END TABLE COMPONENT */

/* ??LOADER */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 0, 0, 0.259); /* semi-transparent white */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 111;
}

.loader {
  border: 16px solid #21212138; /* Light grey */
  border-top: 16px solid #ffee55; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* END LOADER */

/* //HEADER COMPONENT */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  background-color: #151418;
  z-index: 111;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.logo a span {
  color: #ffee55;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  color: #fff;
}

.menu:hover a {
  opacity: 0.4;
}

.menu a:hover {
  opacity: 1;
  color: #fff;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

@media only screen and (max-width: 950px) {
  .menu {
    flex-direction: column;
    background-color: #151418;
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu a {
    margin-left: 12px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }
}

/* //FOOTER SECTION */

footer {
  background-color: #151418;
  color: #fff;
  padding: 20px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.footer-menu {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-menu ul {
  list-style: none;
  padding: 0;
}

.footer-menu ul li {
  display: inline;
  margin: 0 15px;
}

.footer-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-menu ul li a:hover {
  color: #ddd;
}

.copyright {
  font-size: 14px;
  margin-top: 10px;
}

/* Responsive Design */

@media (max-width: 768px) {
  .footer-menu ul {
    display: none;
  }
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
  padding-top: 60px;
  box-sizing: border-box;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 900px;
  box-sizing: border-box;
  border-radius: 5px;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .modal-content {
    width: 90%;
  }
}

/* //CARD */
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  max-width: 300px;
  min-height: 250px;
  background: #02b875;
  padding: 30px;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  margin: 20px;
  box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px,
    rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}
.card:nth-child(2) {
  background: #4181ee;
}
.card:last-child {
  background: #673ab7;
}
.card-title {
  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.card-content {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.card-btn {
  all: unset;
  display: block;
  margin-left: auto;
  border: 2px solid #fff;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 1.2px;
}
.card-btn:hover {
  color: #02b875;
  background: #fff;
}
.card:nth-child(2) .card-btn:hover {
  color: #4181ee;
  background: #fff;
}
.card:last-child .card-btn:hover {
  color: #673ab7;
  background: #fff;
}
